@model WebApplication1.ViewModels.SurveyVM
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layoutStyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @*Brand and toggle get grouped for better mobile display*@
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">BioRisk Survey</a>
            </div>
            @*Collect the nav links, forms, and other content for toggling*@
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    if (!User.Identity.IsAuthenticated)
                    {

                        <ul id="accountBtns" class="nav navbar-nav">
                            <li>
                                <button type="button" class="btn" data-toggle="modal" data-target="#accountModal">Create an Account</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                @*<div id="userModalIcon" class="navbar-form navbar-right">
                        <button type="button" class="btn btn-primary glyphicon glyphicon-user" data-toggle="modal" data-target="#userModal"></button>
                    </div>*@
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <div id="userModalIcon" class="navbar-form navbar-right">
                            <button type="button" class="btn btn-primary glyphicon glyphicon-user" data-toggle="modal" data-target="#userModal"></button>
                        </div>
                    }
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--User Modal -->
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="loginModalLabel">Hi, @User.Identity.Name</h3>
                        <div style="margin: 10px">
                            <div class="row"><a href="/Home/Profiles/@User.Identity.Name" id="profilesLink">Go To Profile</a></div>
                            <div class="row">
                                <button id="logoutBtn" class="btn btn-info "><span class="glyphicon glyphicon-log-out"></span>LogOut</button>
                                <button type="button" id="closeBtn" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Create Modal -->
        <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="accountModalLabel">Account Creation</h3>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">First Name:</span>
                                <input autofocus required type="text" class="form-control" id="fName" placeholder="First Name" aria-label="First Namee" aria-describedby="basic-addon1" enterkeyhint="next">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Last Name:</span>
                                <input type="text" class="form-control" id="lName" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1" enterkeyhint="next">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="glyphicon glyphicon-inbox input-group-addon" id="basic-addon1"></span>
                                <input type="text" class="form-control" id="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" enterkeyhint="next">
                            </div>

                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="glyphicon glyphicon-alert input-group-addon" id="basic-addon1"></span>
                                <input type="password" class="form-control" id="pwd" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" enterkeyhint="next">
                            </div>

                        </div>
                        <div class="input-group mb-3">
                            @Html.Partial("~/Views/Home/_Geographics.cshtml", Model)
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="glyphicon glyphicon-user input-group-addon" id="basic-addon1"></span>
                                <input type="text" class="form-control" id="occupation" placeholder="Occupation" aria-label="Location" aria-describedby="basic-addon1" enterkeyhint="done">
                            </div>

                        </div>
                        <div style="margin: 10px">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="createBtn" type="button" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="loginModalLabel">Login to continue</h3>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                                <input autofocus type="text" id="user-email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-alert" id="basic-addon1"></span>
                                <input type="password" id="user-pwd" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div style="margin: 10px">
                            <button type="button" id="closeBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" id="loginBtn" class="btn btn-primary">login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button class="btn btn-lg"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</button>
                </div>
            </div>
        </div>

        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
            $("#createBtn").click(function () {

                let f_name = $("#fName").val();
                let l_name = $("#lName").val();
                let email = $("#email").val();
                let pwd = $("#pwd").val();
                let loc = $("#location").val();
                let occupation = $("#occupation").val();

                $.ajax({
                    url: '/api/Account/Register',
                    method: 'POST',
                    data: {
                        firstname: f_name,
                        lastname: l_name,
                        email: email,
                        password: pwd,
                        confirmPassword: pwd,
                        location: loc,
                        occupation: occupation
                    },
                    success: function (response) {
                        toastr["success"]("Account Created Succesfully :)", "Success");
                        $("#fName").val('');
                        $("#lName").val('');
                        $("#email").val('');
                        $("#pwd").val('');
                        $("#location").val('');
                        $("#occupation").val('');

                        $.ajax({
                            // Post username, password & the grant type to /token
                            url: '/token',
                            method: 'POST',
                            contentType: 'application/json',
                            data: {
                                username: email,
                                password: pwd,
                                grant_type: 'password'
                            },
                            success: function (response) {
                                toastr["success"]("Hi, ", "Success");
                                sessionStorage.setItem("accessToken", response.access_token);
                                sessionStorage.setItem("userId", response.userId);
                                window.location.href = "/Home/Survey";
                            },
                            // Display errors if any in the Bootstrap alert <div>
                            error: function (jqXHR) {
                                toastr["error"](jqXHR.responseText, "Error");
                            }
                        });
                    },
                    error: function (jqXHR) {
                        toastr["error"]("401 BadRequest", "Error");
                        console.log(jqXHR.responseText);
                    }
                });
            });
            $('#loginBtn').click(function () {
                // Get the username & password from textboxes
                var username = $('#user-email').val();
                var password = $('#user-pwd').val();

                //loading animation
                $('#loadingModal').modal();

                $.ajax({
                    // Post username, password & the grant type to /token
                    url: '/token',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        username: username,
                        password: password,
                        grant_type: 'password'
                    },
                    success: function (response) {
                        $('#loadingModal').modal('hide');
                        $('#user-email').val('');
                        $('#user-pwd').val('');
                        toastr["success"]("Hi, " + username, "Success");
                        sessionStorage.setItem("accessToken", response.access_token);
                        sessionStorage.setItem("userId", response.userId);
                        if (window.location.href != "https://localhost:44365/Home/Index")
                            location.reload();
                        else {
                            window.location.href = "/Home/Survey";
                        }
                    },
                    error: function (jqXHR) {
                        $('#loadingModal').modal('hide');
                        toastr["error"](jqXHR.responseText, "Error");
                    }
                });
            });
            $('#logoutBtn').click(function () {
                $.ajax({
                    url: "/api/Account/Logout",
                    method: "post",
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    success: function () {
                        sessionStorage.removeItem('accessToken');
                        sessionStorage.removeItem('userId');
                        window.location.href = "/Home/Index";
                    }
                }); 
            });
            $("#user-pwd").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {
                    $('#loginBtn').click();
                }
            });
        </script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</body>
</html>

