@model WebApplication1.ViewModels.BioClinicalVM
<h1> <span style="padding-left: 10px; padding-right: 10px"> More Finalized Metrics</span></h1>
    <div style="overflow-x: auto">
        <table id="generation">
            <tr>
                <th>Generation Time</th>
            </tr>
            <tr>
                @foreach (var type in Model.GenerationTimes)
                {
                    if (Model.Metrics.GenerationTime.Host == type.Host)
                    {
                        <td id="gen" style="background-color: #fff877;" value="@type.Host">@type.Name</td>
                    }
                    else
                    {
                        <td style="background-color: #f5f5f5;" value="@type.Host">@type.Name</td>
                    }
                }
            </tr>
        </table>
    </div>

    <div style="overflow-x: auto">
        <table id="immunity">
            <tr>
                <th>Duration of Naturally Aquired Immunity</th>
            </tr>
            <tr>
                @foreach (var type in Model.ImmunityDurations)
                {
                    <td value="@type.Host">@type.Name</td>
                }
            </tr>
        </table>
    </div>

    <div style="overflow-x: auto">
        <table id="cfr">
            <tr>
                <th>Case Fatality Ration</th>
            </tr>
            <tr>
                @foreach (var type in Model.CFRs)
                {
                    if (Model.Metrics.CaseFatalityRatio.Host == type.Host)
                    {
                        <td id="case-fatality" style="background-color: #fff877;" value="@type.Host">@type.Name</td>
                    }
                    else
                    {
                        <td style="background-color: #f5f5f5;" value="@type.Host">@type.Name</td>
                    }
                }
            </tr>
        </table>
    </div>

    <div style="overflow-x: auto">
        <table id="ifr">
            <tr>
                <th>IFR</th>
            </tr>
            <tr>
                @foreach (var type in Model.IFRs)
                {
                    <td value="@type.Host">@type.Name</td>
                }
            </tr>
        </table>
    </div>
    
    <input id="resetBtn" type="reset" value="reset" />
    <input id="nextBtn" type="submit" value="next" />

<script>
    let generation = 0, immunity = 0, cfr = 0, ifr = 0;

    // Change input value on label click
    //$('#generation td').on('click', function () {
    //    $('#generation td')[generation].style.backgroundColor = 'white';
    //    let index = $(this).index();
    //    $('#generation td')[index].style.backgroundColor = '#fff877';
    //    generation = index;
    //});

    $('#immunity td').on('click', function () {
        $('#immunity td')[immunity].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#immunity td')[index].style.backgroundColor = '#fff877';
        immunity = index;
    });

    //$('#cfr td').on('click', function () {
    //    $('#cfr td')[cfr].style.backgroundColor = 'white';
    //    let index = $(this).index();
    //    $('#cfr td')[index].style.backgroundColor = '#fff877';
    //    cfr = index;
    //});

    $('#ifr td').on('click', function () {
        $('#ifr td')[ifr].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#ifr td')[index].style.backgroundColor = '#fff877';
        ifr = index;
    });

    $('#nextBtn').on('click', function (e) {
        e.preventDefault();
        //let t = parseInt($('#generation td')[generation].getAttribute('value'));
        let res = parseInt($('#immunity td')[immunity].getAttribute('value'));
        //let h = parseInt($('#cfr td')[cfr].getAttribute('value'));
        let o = parseInt($('#ifr td')[ifr].getAttribute('value'));
        let t = parseInt($('#gen')[0].getAttribute('value'));
        let h = parseInt($('#case-fatality')[0].getAttribute('value'));
        let score = $('#score').val();
        $('#score').val(parseInt(score) + t + res + h + o);
        next();
    })

    function next() {
        let countryName = $('#countries-input').val();
        let agentName = $('#agents-input').val();

        $.ajax({
            url: '/Survey/Psych',
            type: 'post',
            data: { countryName: countryName, agentName: agentName },
            error: function (xhr) {
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText);
            },
            success: function (response) {
                user = response;
                $('#survey').html(response);
            }
        });
    }
</script>