@model WebApplication1.ViewModels.BioClinicalVM
<h1> <span style="padding-left: 10px; padding-right: 10px"> Bio Clinical</span></h1>

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%">
        <span class="sr-only">59% ( 13 answered / 22 total )</span>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div style="overflow-x: auto">
            <table id="generation">
                <tr>
                    <th colspan="10">
                        Generation Time<span tabindex="0" data-toggle="tooltip" title="This metric is pre-filled based on your geographic location" class="d-inline-block glyphicon glyphicon-info-sign"></span>
                                       <p>@Model.Metrics.GenerationTime.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.GenerationTimes)
                    {
                        if (Model.Recs.GenerationTime.Host == type.Host)
                        {
                            <td id="gen" style="border: 4px dashed #286090;background-color: #fff877;" value="@type.Host">@type.Name</td>
                        }
                        else
                        {
                            <td style="background-color: white;" value="@type.Host">@type.Name</td>
                        }
                    }
                </tr>
            </table>
        </div>

        <div style="overflow-x: auto">
            <table id="immunity">
                <tr>
                    <th colspan="10">
                        Duration of Naturally Aquired Immunity<span data-toggle="tooltip" title="required">*</span>
                          <p>@Model.Metrics.ImmunityDuration.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.ImmunityDurations)
                    {
                        <td value="@type.Host">@type.Name</td>
                    }
                </tr>
            </table>
        </div>

        <div style="overflow-x: auto">
            <table id="cfr">
                <tr>
                    <th colspan="10">
                        Case Fatality Ratio<span tabindex="0" data-toggle="tooltip" title="This metric is pre-filled based on your geographic location" class="d-inline-block glyphicon glyphicon-info-sign"></span>
                         <p>@Model.Metrics.CaseFatalityRatio.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.CFRs)
                    {
                        if (Model.Recs.CaseFatalityRatio.Host == type.Host)
                        {
                            <td id="case-fatality" style="border: 4px dashed #286090;background-color: #fff877;" value="@type.Host">@type.Name</td>
                        }
                        else
                        {
                            <td style="background-color: white;" value="@type.Host">@type.Name</td>
                        }
                    }
                </tr>
            </table>
        </div>

        <div style="overflow-x: auto">
            <table id="ifr">
                <tr>
                    <th colspan="10">
                        IFR<span data-toggle="tooltip" title="required">*</span>
                           <p>@Model.Metrics.InfantFatalityRatio.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.IFRs)
                    {
                        <td value="@type.Host">@type.Name</td>
                    }
                </tr>
            </table>
        </div>
    </div>

    <div style="margin-top: 10px;" class="panel-group col-md-3" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div style="background-color:antiquewhite" class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a style="text-decoration: none" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        For more information on how we determined these metrics
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div style="overflow-x:auto" class="panel-body">
                    <table>
                        <tr>
                            <th>Metric</th>
                            <th>Info</th>
                        </tr>
                        <tr>
                            <td>@Model.Metrics.GenerationTime.Name</td>
                            @{
                                var count = 1;
                                foreach (var item in Model.Metrics.GenerationTime.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.GenerationTime.AgentSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                    </td>
                                    count++;
                                }
                            }
                        </tr>
                        <tr>
                            <td>@Model.Metrics.ImmunityDuration.Name</td>
                            @{
                                count = 1;
                                foreach (var item in Model.Metrics.ImmunityDuration.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.ImmunityDuration.AgentSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                    </td>
                                    count++;
                                }
                            }
                        </tr>
                        <tr>
                            <td>@Model.Metrics.CaseFatalityRatio.Name</td>
                            @{
                                count = 1;
                                foreach (var item in Model.Metrics.CaseFatalityRatio.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.CaseFatalityRatio.AgentSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                    </td>
                                    count++;
                                }
                            }
                        </tr>
                        <tr>
                            <td>@Model.Metrics.InfantFatalityRatio.Name</td>
                            @{
                                count = 1;
                                foreach (var item in Model.Metrics.InfantFatalityRatio.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.InfantFatalityRatio.AgentSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                    </td>
                                    count++;
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<input id="resetBtn" type="reset" value="reset" />
<input id="nextBtn" type="submit" value="next" />

<script>
    //indices
    let generation = ($('#generation td#gen').index() == -1) ? -1 : $('#generation td#gen').index(),
        immunity = -1,
        cfr = ($('#cfr td#case-fatality').index() == -1) ? -1 : $('#cfr td#case-fatality').index(),
        ifr = -1;

    $('td').on('mouseenter', function () {
        if ($(this)[0].style.backgroundColor != 'rgb(255, 248, 119)')
            $(this)[0].style.backgroundColor = '#f5f5f5';
    })

    $('td').on('mouseleave', function () {
        if ($(this)[0].style.backgroundColor != 'rgb(255, 248, 119)')
            $(this)[0].style.backgroundColor = 'white';
    })

    // Change input value on label click
    $('#generation td').on('click', function () {
        $('#generation th')[0].style.border = 'none';
        if (generation == -1)
            generation = 0;
        $('#generation td')[generation].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#generation td')[index].style.backgroundColor = '#fff877';
        generation = index;
    });

    $('#immunity td').on('click', function () {
        $('#immunity th')[0].style.border = 'none';
        if (immunity == -1)
            immunity = 0;
        $('#immunity td')[immunity].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#immunity td')[index].style.backgroundColor = '#fff877';
        immunity = index;
    });

    $('#cfr td').on('click', function () {
        if (cfr == -1)
            cfr = 0;
        $('#cfr td')[cfr].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#cfr td')[index].style.backgroundColor = '#fff877';
        cfr = index;
    });

    $('#ifr td').on('click', function () {
        $('#ifr th')[0].style.border = 'none';
        if (ifr == -1)
            ifr = 0;
        $('#ifr td')[ifr].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#ifr td')[index].style.backgroundColor = '#fff877';
        ifr = index;
    });

    $('#nextBtn').on('click', function (e) {
        e.preventDefault();

        if (!validateAnswers()) {
            alert('please fill out all remaining fields');
            return;
        }

        let t = parseInt($('#generation td')[generation].getAttribute('value'));
        let res = parseInt($('#immunity td')[immunity].getAttribute('value'));
        let h = parseInt($('#cfr td')[cfr].getAttribute('value'));
        let o = parseInt($('#ifr td')[ifr].getAttribute('value'));
        let score = $('#score').val();
        $('#score').val(parseInt(score) + t + res + h + o);

        sessionStorage.generation = t;
        sessionStorage.immunity = res;
        sessionStorage.cfr = h;
        sessionStorage.ifr = o;

        next();
    })

    function validateAnswers() {
        //checking if indices are -1, meaning they never got clicked
        let validated = true;
        if (generation == -1) {
            $('#generation th')[0].style.border = '2px groove red'
            validated = false;
        }
        if (immunity == -1) {
            $('#immunity th')[0].style.border = '2px groove red'
            validated = false;
        }
        if (cfr == -1) {
            $('#cfr th')[0].style.border = '2px groove red'
            validated = false;
        }
        if (ifr == -1) {
            $('#ifr th')[0].style.border = '2px groove red'
            validated = false;
        }
        return validated;
    }

    function next() {
        let countryName = $('#country_name').val();
        let agentName = $('#agent_name').val();

        $.ajax({
            url: '/Survey/Psych',
            type: 'post',
            data: { countryName: countryName, agentName: agentName },
            error: function (xhr) {
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText);
            },
            success: function (response) {
                user = response;
                $('#survey').html(response);
            }
        });
    }
</script>

<script>
    $(".panel-heading").parent('.panel').hover(
        function () {
            $(this).children('.collapse').collapse('show');
        }, function () {
            $(this).children('.collapse').collapse('hide');
        }
    );
</script>