@model WebApplication1.ViewModels.ResevoirHostRegionVM
<h1> <span style="padding-left: 10px; padding-right: 10px"> Reservoir Host Region</span></h1>

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
        <span class="sr-only">1% complete</span>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div style="overflow-x:auto">
            <div>
                <table id="resevoir-types">
                    <tr>
                        <th colspan="10">
                            Reservoir Types<span tabindex="0" data-toggle="tooltip" title="This metric is pre-filled based on your geographic location" class="d-inline-block glyphicon glyphicon-info-sign"></span>
                                          <p>@Model.Metrics.ResevoirType.Description</p>
                        </th>
                    </tr>
                    <tr>
                        @foreach (var type in Model.ResevoirTypes)
                        {
                            if (Model.Recs.ResevoirType.Host == type.Host)
                            {
                                <td id="res-type" style="background-color: #fff877;border: 4px dashed #286090" value="@type.Host">@type.Name</td>
                            }
                            else
                            {
                                <td style="background-color: white;" value="@type.Host">@type.Name</td>
                            }
                        }
                    </tr>
                </table>
            </div>

        </div>
        <div style="overflow-x:auto">
            <table id="resevoir-endemicities">
                <tr>
                    <th colspan="10">
                        Reservoir Endemicities<span tabindex="0" data-toggle="tooltip" title="This metric is pre-filled based on your geographic location" class="d-inline-block glyphicon glyphicon-info-sign"></span>
                           <p>@Model.Metrics.ResevoirEndemicity.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.ResevoirEndemicities)
                    {
                        if (Model.Recs.ResevoirEndemicity.Host == type.Host)
                        {
                            <td id="res-end" style="border: 4px dashed #286090; background-color: #fff877" value="@type.Host">@type.Name</td>
                        }
                        else
                        {
                            <td style="background-color: white;" value="@type.Host">@type.Name</td>
                        }
                    }
                </tr>
            </table>
        </div>

        @*<div style="overflow-x:auto">
            <table id="host-endimicities">
                <tr>
                    <th colspan="10">
                        Host Endemicities<span tabindex="0" data-toggle="tooltip" title="This metric is pre-filled based on your geographic location" class="d-inline-block glyphicon glyphicon-info-sign"></span>
                                         <p>@Model.Metrics.HostEndemicity.Description</p>
                    </th>
                </tr>
                <tr>
                    @foreach (var type in Model.HostEndemicities)
                    {
                        if (Model.Recs.HostEndemicity.Host == type.Host)
                        {
                            <td id="host" style="border: 4px dashed #286090;background-color: #fff877; " value="@type.Host">@type.Name</td>
                        }
                        else
                        {
                            <td style="background-color: white;" value="@type.Host">@type.Name</td>
                        }
                    }
                </tr>
            </table>
        </div>*@
    </div>

    <div style="margin-top: 10px;" class="panel-group col-md-3" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div style="background-color:antiquewhite" class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a style="text-decoration: none" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        For more information on how we determined these metrics
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div style="overflow-x:auto" class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Metric Name</th>
                            <th>Sources</th>
                            @*<th colspan="@Model.Metrics.ResevoirType.AgentSources.Count">Agent</th>*@
                        </tr>
                        <tr>
                            <td>@Model.Metrics.ResevoirType.Name</td>
                            @{
                                int count = 1;
                                foreach (var item in Model.Metrics.ResevoirType.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.ResevoirType.AgentSources)
                                {
                                <td>
                                    <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                </td>
                                        count++;
                                }
                             }
                        </tr>
                        <tr>
                            <td>@Model.Metrics.ResevoirEndemicity.Name</td>
                            @{
                                count = 1;
                                foreach (var item in Model.Metrics.ResevoirEndemicity.MetricSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.MetricLink">@count@*@item.MetricLabel*@</a>
                                    </td>
                                    count++;
                                }

                                foreach (var item in Model.Metrics.ResevoirEndemicity.AgentSources)
                                {
                                    <td>
                                        <a target="_blank" href="@item.AgentLink">@count@*@item.AgentLabel*@</a>
                                    </td>
                                    count++;
                                }
                            }
                        </tr>
                        @*<tr>
                            <td>@Model.Metrics.HostEndemicity.Name</td>
                            <td>@Model.Metrics.HostEndemicity.Sources</td>
                        </tr>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="resetBtn" type="reset" value="reset" />
<input id="nextBtn" type="submit" value="next" />

<script>

    let res_types = ($('#resevoir-types td#res-type').index() == -1) ? -1 : $('#resevoir-types td#res-type').index(),
        res_end = ($('#resevoir-endemicities td#res-end').index() == -1) ? -1 : $('#resevoir-endemicities td#res-end').index(),
        host_end = 0;

    $('td').on('mouseenter', function () {
        if ($(this)[0].style.backgroundColor != 'rgb(255, 248, 119)')
            $(this)[0].style.backgroundColor = '#f5f5f5';
    })

    $('td').on('mouseleave', function () {
        if ($(this)[0].style.backgroundColor != 'rgb(255, 248, 119)')
            $(this)[0].style.backgroundColor = 'white';
    })

    $('#resevoir-types td').on('click', function () {
        $('#resevoir-types th')[0].style.border = 'none';
        if (res_types == -1)
            res_types = 0;
        $('#resevoir-types td')[res_types].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#resevoir-types td')[index].style.backgroundColor = '#fff877';
        res_types = index;
    });

    $('#resevoir-endemicities td').on('click', function () {
        $('#resevoir-endemicities th')[0].style.border = 'none';
        if (res_end == -1)
            res_end = 0;
        $('#resevoir-endemicities td')[res_end].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#resevoir-endemicities td')[index].style.backgroundColor = '#fff877';
        res_end = index;
    });

    $('#host-endimicities td').on('click', function () {
        $('#host-endimicities th')[0].style.border = 'none';
        if (host_end == -1)
            host_end = 0;
        $('#host-endimicities td')[host_end].style.backgroundColor = 'white';
        let index = $(this).index();
        $('#host-endimicities td')[index].style.backgroundColor = '#fff877';
        host_end = index;
    });

    $('#nextBtn').on('click', function (e) {
        e.preventDefault();

        if (!validateAnswers()) {
            alert('please fill out all remaining fields');
            return;
        }

        let t = parseInt($('#resevoir-types td')[res_types].getAttribute('value'));
        let res = parseInt($('#resevoir-endemicities td')[res_end].getAttribute('value'));
        //let h = parseInt($('#host-endimicities td')[host_end].getAttribute('value'));
        $('#score').val(t + res/* + h*/);

        sessionStorage.reservoir_type = t;
        sessionStorage.reservoir_endimicity = res;
        sessionStorage.host_type = 0;//h

        next();
    })

    function validateAnswers() {
        //checking if indices are -1, meaning they never got clicked
        let validated = true;
        if (res_types == -1) {
            $('#resevoir-types th')[0].style.border = '2px groove red'
            validated = false;
        }
        if (res_end == -1) {
            $('#resevoir-end th')[0].style.border = '2px groove red'
            validated = false;
        }
        if (host_end == -1) {
            $('#host-endimicities th')[0].style.border = '2px groove red'
            validated = false;
        }
        return validated;
    }

    function next() {
        let countryName = $('#country_name').val();
        let agentName = $('#agent_name').val();

        $.ajax({
            url: '/Survey/Transmission',
            type: 'post',
            data: { countryName: countryName, agentName: agentName },
            error: function (xhr) {
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText);
            },
            success: function (response) {
                user = response;
                $('#survey').html(response);
            }
        });
    }
</script>

<script>
    $(".panel-heading").parent('.panel').hover(
        function () {
            $(this).children('.collapse').collapse('show');
        }, function () {
            $(this).children('.collapse').collapse('hide');
        }
    );
</script>